[submodule "ardu_quad-control/lib/MPU6050"]
	path = ardu_quad-control/lib/MPU6050
	url = https://github.com/nash169/MPU6050.git
[submodule "ardu_quad-control/lib/IMUSensor"]
	path = ardu_quad-control/lib/IMUSensor
	url = https://github.com/nash169/IMUSensor.git
[submodule "ardu_quad-control/lib/RadioDecoder"]
	path = ardu_quad-control/lib/RadioDecoder
	url = https://github.com/nash169/RadioDecoder.git
[submodule "ardu_quad-control/lib/MotorControl"]
	path = ardu_quad-control/lib/MotorControl
	url = https://github.com/nash169/MotorControl.git
