# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Arduino outputs
*.hex

# Autotools Outputs
autom4te.cache/
aclocal.m4
ltmain.sh
config.h.in
configure
ar-lib
depcomp
install-sh
missing
config.guess
config.sub
compile
*.in
dynamics_quad/m4/ltversion.m4
dynamics_quad/m4/ltsugar.m4
dynamics_quad/m4/ltoptions.m4
dynamics_quad/m4/lt~obsolete.m4
dynamics_quad/m4/libtool.m4

# Backup files
*~

# Compilation Outputs
build/
dynamics_quad/run/main
dynamics_quad/run/analyze
dynamics_quad/run/sim*

# Mac files
.DS_Store
